.main-content {
  padding-top: 2%;
}

.banner {
  padding-top: 3%;
  background-color: #952d72;
  width: 100%;
  font-size: 20px;
  height: 40px;
}

.memoria-card {
  height: 250px;
}

.search-box input[type="text"] {
  line-height: 2em;
  height: 70px;
  font-size: 28px;
}

.search-box form {
  width: 100%;
}

.search-input {
  width: 100%;
}
