.main-content {
  padding-top: 2%;
}

.banner {
  background-color: #952d72;
  width: 100%;
  font-size: 20px;
  color: #F8F8FF;
  height: 50px;
}

.banner-content {
  padding-top: 1%;
  text-align: center;
}

.memoria-card {
  height: 250px;
}

.search-box input[type="text"] {
  line-height: 2em;
  height: 70px;
  font-size: 28px;
}

.search-box form {
  width: 100%;
}

.search-input {
  width: 100%;
}

#add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
