.main-content {
  padding-top: 2%;
}

/*-----------------------------
  Modal
-----------------------------*/

.memoria-modal {
  border-top: 4px solid #952d72;
  padding: 2em;
  line-height: 20px;
  font-size: 14px;
}

.edit-card .button {
  position: fixed;
  right: 20px;
  top: 20px;
}

.edit-card.button {
  position: fixed;
  right: 20px;
  top: 26px;
}

.add-card .button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.ui.modal>.header {
  border: none;
}

.banner {
  padding: 10px;
  background-color: #952d72;
  width: 100%;
}

.banner h1 {
  font-family: 'Source Code Pro';
  font-size: 1.2rem;
  color: white;
}

.memoria-card .header {
  margin-bottom: 0;
  min-height: 56px;
}

.memoria-cards .memoria-card {
  min-height: 250px;
}

.memoria-card .tags {
  font-size: 0.7em;
}

.memoria-card .title {
  margin-bottom: 0px;
  color: #952d72;
}

.memoria-card .divider {
  margin-top: 0;
}

.memoria-card img {
  max-width: 100%;
}

.memoria-card .card-contents {
  overflow: hidden;
}

.search-box input[type="text"] {
  line-height: 2em;
  height: 70px;
  font-size: 28px;
}

.search-box form {
  width: 100%;
}

.search-input {
  width: 100%;
}

.ui input:focus, .ui textarea:focus {
  border-color: #952d72 !important;
}
